/* div{
  background-color: pink;
  width:100px;
  height: 100px
} */
/* div{
  background-image:url(img/15622673200924-min.jpg);
  width:100px;
  height: 100px
} */
body{
  background-image:url(img/لازانیا-حرفه_ای.jpg);
  background-repeat: no-repeat;

}
